.service {
  display: flex;
  background-color: #1c1c1d;
  color: #ffffff;
  padding: 165px 76px 167px 76px;
  // flex-wrap: wrap;

  .service-introduce {
    margin-top: 50px;
    flex: 0 0 45%;
    margin-right: 117px;
    display: flex;
    flex-direction: column;
    h1 {
      text-transform: uppercase;
      text-align: center;
      width: 195px;
      height: 46px;
      // font-family: ProximaNova;
      font-size: 48px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
    }
    p {
      // font-family: ProximaNova;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
    }
    ul {
      li {
        // font-family: ProximaNova;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
      }
    }
  }

  .service-list {
    display: flex;
    flex-wrap: wrap;
    .service-item {
      width: 288px;
      height: 288px;
      padding: 57px 24px;
      flex: 0 0 40%;
      margin-right: 32px;
      margin-top: 32px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.28);
      background-color: #181818;

      @media only screen and (max-width: 1440px) {
        margin-right: 20px;
        flex: 0 0 35%;
      }

      .title {
        // font-family: ProximaNova;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin-top: 24px;
      }

      p {
        // font-family: ProximaNova;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #757575;
        line-height: 18px;
        margin-top: 8px;
      }
    }
  }
}